
p

}
.
{
    color: greenyellow;
    background-color: #03425b;
    font-size: 25px;
}
button
{
    color: #03425b;
    background-color: greenyellow;
    font-size: 25px;
} 

.header{
    background-color: greenyellow;
}
.main{
    background-color: #03425b;
}
.footer{
    background-color: blanchedalmond;
}
.header
{
    background-color:green;
    width: 200px;
 padding: 30px 50px;
 margin: 200px;
 margin-top: 20px;
 margin-bottom: 60px;
 margin-left: 100px;
 margin-right: 200px;

 border: 15px chartreuse dotted
 border: 15px chartreuse dotted