*{
    margin: 0px;
    padding: 0px;
}
.main {
    width: 100%;
    background: linear-gradient( to top, rgb(0,0,0,0.5)50%,rgb(0,0,0,0.5)50%); url(1.jpg)
    background-size: cover;
    height: 100vh;
    
  
}